
   <div class="row">
        <div id="bodyMenu" class="container">
            <div class="row">
            </div>
            <div class="row justify-content-center"> 
            <!-- Body contain-->
                <div class="col-6" >
                    <!-- Default form login -->
<form class="text-center border border-light p-5">

        <p class="h4 mb-4">Sign in</p>
    
        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
    
        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
    
        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>
    
        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
    
        <!-- Register -->
        <p>Not a member?
            <a href="">Register</a>
        </p>
    
        <!-- Social login -->
        <p>or sign in with:</p>
    
        <a class="light-blue-text mx-2">
            <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <a class="light-blue-text mx-2">
            <i class="fab fa-twitter-square fa-2x"></i>
        </a>
        <a class="light-blue-text mx-2">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
    
    </form>
    <!-- Default form login -->
                </div>
                
            <!-- End body contain-->
            <div class="col-12">
                    <!-- Footer -->
                        <footer class="page-footer font-small blue pt-4">
        
                                <!-- Footer Links -->
                                <div class="container-fluid text-center text-md-left">
                            
                                <!-- Grid row -->
                                <div class="row">
                            
                                    <!-- Grid column -->
                                    <div class="col-md-9 mt-md-0 mt-3">
                            
                                    <!-- Content -->
                                    <h5 class="text-uppercase">Stone'Lunch</h5>
                                    <p>" Here you can command your meal !"</p>
                            
                                    </div>
                                    <!-- Grid column -->
                            
                                    <hr class="clearfix w-100 d-md-none pb-3">
                            
                            
                                    <!-- Grid column -->
                                    <div class="col-md-3 mb-md-0 mb-3">
                            
                                        <!-- Links -->
                                        <h5 class="text-uppercase">Links</h5>
                            
                                        <ul class="list-unstyled">
                                        <li>
                                            <a href="#!"><i class="fab fa-facebook-square fa-2x"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fab fa-twitter-square fa-2x"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fab fa-google-plus-square fa-2x"></i></a>
                                        </li>
                                        </ul>
                            
                                    </div>
                                    <!-- Grid column -->
                            
                                </div>
                                <!-- Grid row -->
                            
                                </div>
                                <!-- Footer Links -->
                            
                                <!-- Copyright -->
                                <div class="footer-copyright text-center py-3">© 2018 Copyright
                                </div>
                                <!-- Copyright -->
                            
                            </footer>
                    <!-- Footer -->
                        </div>
            </div>

            
        </div>
    </div>  





