
   <div class="row">
        <div id="bodyMenu" class="container">
            <div class="row">
                
            </div>
            <div class="row"> 
            <!-- Body contain-->
            <div class="col-12">
                    <h2>MON COMPTE</h2>
                    <hr>
                </div>          
                <div id="section" class="col-10">
                        <div class="row">
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                <!-- Card -->
                                <div class="card">
    
                                    <!-- Card content -->
                                    <div class="card-body">
                                        <!-- Material form register -->
                                        <form>
                                            <p class="h6">Modifier mon mot de passe</p>
    
                                            <!-- Material input text -->
                                            <div class="md-form">
                                                <input placeholder="xxxx@mail.com" type="text" id="materialFormCardNameEx" class="form-control">
                                                <label for="materialFormCardNameEx" class="font-weight-light">Nouveau mot de passe</label>
                                            </div>
    
                                            <!-- Material input password -->
                                            <div class="md-form">
                                                <input placeholder="Your password" type="password" id="materialFormCardPasswordEx" class="form-control">
                                                <label for="materialFormCardPasswordEx" class="font-weight-light">Confimer mot de passe</label>
                                            </div>
    
                                            <div class="form-row">
                                                <div>
                                                    <button class="btn btn-sm btn-info" type="submit">Valider</button>
                                                
                                                    <button class="btn btn-sm btn-info" type="submit">Mot de passe oublié ?</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Material form register -->
    
                                    </div>
    
                                </div>
                                <!-- Card -->
                            </div>
                        </div>
                    </div>
                
                <div class="col-12">
                    <h2>Mes commandes</h2>
                    <hr>
                    <div id="section" class="">
                            <div class="row">
                                <div class="col-md-4 col-sm-5 col-xs-12">
                                    <!-- Card -->
                                    <div class="card">
        
                                        <!-- Card content -->
                                        <div class="card-body">
                                            <!-- Material form register -->
                                            <form>
                                                <p class="h6">Ma commande</p>
        
                                                <!-- Material select -->
                                                <div class="md-form">
                                                        <select class="browser-default custom-select">
                                                                <option selected>Liste Entrée</option>
                                                                <option value="1">Entrée 1</option>
                                                                <option value="2">Entrée 2</option>
                                                                <option value="3">Entrée 3</option>
                                                              </select>
                                                </div>
                                                <!-- Material select -->
                                                <div class="md-form">
                                                        <select class="browser-default custom-select">
                                                                <option selected>Liste Plats</option>
                                                                <option value="1">Plat 1</option>
                                                                <option value="2">Plat 2</option>
                                                                <option value="3">Plat 3</option>
                                                              </select>
                                                </div>
                                                <!-- Material select -->
                                                <div class="md-form">
                                                        <select class="browser-default custom-select">
                                                                <option selected>Liste Desserts</option>
                                                                <option value="1">Dessert 1</option>
                                                                <option value="2">Dessert 2</option>
                                                                <option value="3">Dessert 3</option>
                                                              </select>
                                                </div>
        
                                                <div class="form-row">
                                                    <div>
                                                        <button class="btn btn-sm btn-info" type="submit">Valider</button>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- Material form register -->
        
                                        </div>
        
                                    </div>
                                    <!-- Card -->
                                </div>
                            </div>
                        </div>
                </div>
            
            
            <!-- Footer -->
                <div class="col-12">          
                <footer class="page-footer font-small blue pt-4">

                        <!-- Footer Links -->
                        <div class="container-fluid text-center text-md-left">
                    
                        <!-- Grid row -->
                        <div class="row">
                    
                            <!-- Grid column -->
                            <div class="col-md-9 mt-md-0 mt-3">
                    
                            <!-- Content -->
                            <h5 class="text-uppercase">Stone'Lunch</h5>
                            <p>" Here you can command your meal !"</p>
                    
                            </div>
                            <!-- Grid column -->
                    
                            <hr class="clearfix w-100 d-md-none pb-3">
                    
                    
                            <!-- Grid column -->
                            <div class="col-md-3 mb-md-0 mb-3">
                    
                                <!-- Links -->
                                <h5 class="text-uppercase">Links</h5>
                    
                                <ul class="list-unstyled">
                                <li>
                                    <a href="#!"><i class="fab fa-facebook-square fa-2x"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fab fa-twitter-square fa-2x"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fab fa-google-plus-square fa-2x"></i></a>
                                </li>
                                </ul>
                    
                            </div>
                            <!-- Grid column -->
                    
                        </div>
                        <!-- Grid row -->
                    
                        </div>
                        <!-- Footer Links -->
                    
                        <!-- Copyright -->
                        <div class="footer-copyright text-center py-3">© 2018 Copyright
                        </div>
                        <!-- Copyright -->
                    
                    </footer>
            <!-- Footer -->
                </div>
            <!-- End body contain-->
            </div>

            
        </div>
    </div>  




