
   <div class="row">
        <div id="bodyMenu" class="container">
            <div class="row">
            </div>
            <div class="row justify-content-center"> 
            <!-- Body contain-->
                <div class="col-6">
                    <!-- Default form register -->
<form class="text-center border border-light p-5">

        <p class="h4 mb-4">Inscription</p>
    
        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
            </div>
        </div>
    
        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
    
        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>
    
        <!-- Phone number -->
        <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
        <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
            Optional - for two step authentication
        </small>
    
        <!-- Newsletter -->
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
            <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
        </div>
    
        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
    
        <!-- Social register -->
        <p>or sign up with:</p>
    
        <a class="light-blue-text mx-2">
            <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <a class="light-blue-text mx-2">
            <i class="fab fa-twitter-square fa-2x"></i>
        </a>
        <a class="light-blue-text mx-2">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
    
        <hr>
    
        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a> and
            <a href="" target="_blank">terms of service</a>. </p>
    
    </form>
    <!-- Default form register -->
                </div>
               
            <!-- End body contain-->
            <div class="col-12">
                    <!-- Footer -->
                        <footer class="page-footer font-small blue pt-4">
        
                                <!-- Footer Links -->
                                <div class="container-fluid text-center text-md-left">
                            
                                <!-- Grid row -->
                                <div class="row">
                            
                                    <!-- Grid column -->
                                    <div class="col-md-9 mt-md-0 mt-3">
                            
                                    <!-- Content -->
                                    <h5 class="text-uppercase">Stone'Lunch</h5>
                                    <p>" Here you can command your meal !"</p>
                            
                                    </div>
                                    <!-- Grid column -->
                            
                                    <hr class="clearfix w-100 d-md-none pb-3">
                            
                            
                                    <!-- Grid column -->
                                    <div class="col-md-3 mb-md-0 mb-3">
                            
                                        <!-- Links -->
                                        <h5 class="text-uppercase">Links</h5>
                            
                                        <ul class="list-unstyled">
                                        <li>
                                            <a href="#!"><i class="fab fa-facebook-square fa-2x"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fab fa-twitter-square fa-2x"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fab fa-google-plus-square fa-2x"></i></a>
                                        </li>
                                        </ul>
                            
                                    </div>
                                    <!-- Grid column -->
                            
                                </div>
                                <!-- Grid row -->
                            
                                </div>
                                <!-- Footer Links -->
                            
                                <!-- Copyright -->
                                <div class="footer-copyright text-center py-3">© 2018 Copyright
                                </div>
                                <!-- Copyright -->
                            
                            </footer>
                    <!-- Footer -->
                        </div>
            </div>

            
        </div>
    </div>  




